@{
ViewData["Title"] = "Not Financial Advise";
}
<div class="row">
    <h2 class=col-sm-12>Not Financial Advise</h2>

        <p class="col-sm-6">Not Financial Advise is here for when you have the question of what is the absolute worst way I should invest? Our team of degenerate gamblers
            will be here to throw out alot of technical jargin your way that you will never understand, but gives you the peace of mind that you actually 
            know more than these "professionals".
        </p>
        <p>You can track your portfoio at your fingertips knowing all your money is going down the drain</p>
        <p>You have access to 8/4 support with individuals who are not even located in the same hemisphere as you!</p>
        <p>
        We are always looking for new ways to YOLO your hard earned money into terrible investments
        using our new features form: @Html.ActionLink("Desired Features", "FeatureSuggestionForm", "Membership")
        </p>
        <img src="~/Images/handShake.jpg" alt="hand shake" class="img-fluid rounded-circle" />
</div>

