@{
ViewData["Title"] = "Not Financial Advise";
}
<h2>Not Financial Advise</h2>
<h3>The best advice you should not take</h3>

<address>
123 Test Way<br />
Traverse City, MI 49684<br />
<abbr title="Phone"></abbr>
123.456.7890
</address>

<address>
<strong>Tech Support:</strong> <a href="mailto:Support@realfinadvice.com">Support@realfinadvice.com</a><br />
<strong>Sales/Marketing:</strong> <a href="mailto:Marketing@realfinadvice.com">Marketing@realfinadvice.com</a>
</address>